/build
/src/main/res/drawable/bottom_bookmark.png
/src/main/res/drawable/bottom_goodtip.png
/src/main/res/drawable/bottom_hometap.png
/src/main/res/drawable/bottom_store.png
/src/main/res/drawable/bottom_talk.png
/src/main/res/drawable/main_menu.png
/google-services.json
/src/main/res/drawable/loginbg.png
/src/main/res/drawable/logo.png
/src/main/res/drawable/min_logo.png
/src/main/res/drawable/upperbg.png
